@import url('/static/css/general-styles.css');

.history-body {
    background-color: #192229;
    color: #C8CDD0;
    font-family: Arial, sans-serif;
}

.history-main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #212E36;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.history-title {
    color: #C8CDD0;
}

.history-list {
    list-style-type: none;
    padding: 0;
}

.history-item {
    background-color: #2A3A47;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.history-item:hover {
    background-color: #1C252D;
}

.history-link {
    text-decoration: none;
    color: #ffffff;
}

.problems-btn {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.problems-btn:hover {
    background-color: #218838;
}

.no-solutions-text {
    margin: 10px 0 10px 0;
}
