{% include "base.html" %}

{% block head %}



<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<script src="https://kit.fontawesome.com/e93ccfb9a4.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/header_dropdown.js') }}"></script>
{% endblock %}


{% block body %}
<header>
    <nav class="main_nav">
        <a href="{{ url_for('show_problems') }}">
            <h1 style="font-size: 28px;">CodeMaster</h1>
        </a>
        <label id="togglerLable" for="toggleChecker">
            <div class="checkboxtoggler">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
            </div>
        </label>
        <div class="profile">

            <a href="{{ url_for('history') }}" class="history-link"><i class="fa-regular fa-clock"></i></a>
            <img style="object-fit: cover;"
                src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png"
                alt="Profile Picture">
            <!-- <p>{{ current_user.username }}</p> -->
            <div class="dropdown-container">
                <p>{{ current_user.username }}</p>
                <i class="fa-solid fa-caret-down" id="dropdown-toggle"></i>
                <div class="dropdown-menu" id="dropdown-menu">
                    <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </nav>
</header>
{% block content %}{% endblock %}
{% endblock %}