<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolver {{ problem.name }}</title>
    <link rel="stylesheet" href="/static/css/problem_detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/tomorrow-night-bright.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/clike/clike.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/hint/show-hint.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/hint/show-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/hint/python-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/hint/javascript-hint.min.js"></script>
</head>

<body>
    <header>
        <h1>{{ problem.name }}</h1>

    </header>


    <section class="examples-div">
        <div class="examples">
            <h2>Ejemplos de entrada y salida:</h2>
            <br>
            <h3>Caso 1:</h3>
            <p><strong>Entrada:</strong> {{ problem.examples.correct.input }}</p>
            <p><strong>Salida Esperada:</strong> {{ problem.examples.correct.output }}</p>

            <h3>Caso 2:</h3>
            <p><strong>Entrada:</strong> {{ problem.examples.incorrect.input }}</p>
            <p><strong>Salida Esperada:</strong> {{ problem.examples.incorrect.output }}</p>
        </div>
        <div class="explanation">
            <p>{{ problem.description }}</p>
            <p>Solución recursiva permitida: {{ 'Sí' if problem.recursive else 'No' }}</p>
            {% if problem.forbidden_words %}
            <p>Palabras prohibidas: {{ problem.forbidden_words | join(', ') }}</p>
            {% else %}
            <p>No hay palabras prohibidas.</p>
            {% endif %}
        </div>


        </div>
    </section>

    <main>
        <form class="solution-form" id=" solution-form" method="POST" action="/submit_solution">
            <input type="hidden" name="problem_name" value="{{ problem.name }}">
            <label for="language">Selecciona un lenguaje:</label>
            <select id="language" name="language" onchange="updateEditor()">
                <option value=""></option>
                {% for lang in problem.languages %}
                <option value="{{ lang }}">{{ lang }}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="solution_code">Ingresa tu solución:</label><br><br>
            <textarea id="solution_code" name="solution_code" rows="20" cols="80"></textarea><br><br>
            <input type="submit" value="Enviar solución">
        </form>
    </main>

    <script>
        var templates = {
            "Python": function (inputParams, outputType) {
                let params = inputParams.map(param => `${param.name}: ${param.type}`).join(", ");
                return `def solution(${params}) -> ${outputType}:\n  # Implementa tu solución aquí`;
            },
            "Java": function (inputParams, outputType) {
                let params = inputParams.map(param => `${param.type} ${param.name}`).join(", ");
                return `public class Solution {\n    public static ${outputType} solution(${params}) {\n        // Implementa tu solución aquí\n    }\n}`;
            }
            //Templates for other languages will be added here
        };

        var editor = CodeMirror.fromTextArea(document.getElementById("solution_code"), {
            lineNumbers: true,
            mode: "python", // Cambia dinámicamente en updateEditor
            theme: "tomorrow-night-bright",
            autoCloseBrackets: true,
            matchBrackets: true,
            lineWrapping: true,
            extraKeys: { "Ctrl-Space": "autocomplete" },
        });

        function updateEditor() {
            var language = document.getElementById("language").value;
            var baseCode = '';

            if (templates[language]) {

                baseCode = templates[language]({{ problem.input_params | tojson }}, '{{ problem.output_type }}');
        }

        editor.setValue(baseCode);
        editor.setOption("mode", language === "Python" ? "python" : "text/x-java");
        }
    </script>

</body>

</html>